html,body{
  margin:0;
  padding:0;
}

div {
  box-sizing: border-box;
}

.calculator {
  width: 30%;
  position: relative;
  margin: auto;
}

.display {
  width: 100%;
  position: relative;
}

.display input {
  width: 100%;
  font-size: 2em;
}

.keypad {
  width: 100%;
  position: relative;
  overflow: auto;
}

.numerals {
  width: 70%;
  float: left;
}

.numerals button {
  float: left;
  width: 30%;
  margin: 0.2em;
}

.operators {
  width: 30%;
  float: right;
}

.clear {
  clear: both;
}

.advanced {
}