html,body{
  margin:0;
  padding:0;
}

div {
  box-sizing: border-box;
}

.calculator {
  width: 30%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.display {
  width: 100%;
  position: relative;
}

.display input {
  width: 100%;
  font-size: 2em;
  text-align: right;
}

.keypad {
  width: 100%;
  position: relative;
  overflow: auto;
}

.numerals {
  width: 70%;
  float: left;
}

.numerals button {
  float: left;
  width: 30%;
  margin: 0.2em;
}

#n0 {
  width: 62%;
}

.operators {
  width: 30%;
  float: right;
}

.operators button {
  float: right;
  width: 25%;
  margin: 0.2em;
}

.clear {
  clear: both;
}

.advanced {
}